<app-purchase-home></app-purchase-home>
<div fxLayout='row wap' fxLayoutGap="50px" layout-align="center center">
    <mat-card class="example-card" *ngFor ="let purchasing of purchasingList">
        <mat-card-header>
            <h4>Production Result Summary Card</h4>
        </mat-card-header>
        <img mat-card-image src="/assets/bearing.jpg">
        <mat-card-content>
            <section class="listing ">
            <p class="listing-heading">processCode :{{ purchasing!.processCode}}</p>
            <p class="listing-heading">process :{{ purchasing!.process}}</p>
            <p class="listing-heading">partType :{{ purchasing!.partType}}</p>
            <p class="listing-heading">groupPart:{{ purchasing!.groupPart}}</p>
            <p class="listing-heading">shift :{{ purchasing!.shift}}</p>
            <p class="listing-heading">machine:{{ purchasing!.machine}}</p>
            <p class="listing-heading">date :{{ purchasing!.date}}</p>
            <p class="listing-heading">quantity :{{ purchasing!.quantity}}</p>
            <p class="listing-heading">target:{{ purchasing!.target}}</p>
            <p class="listing-heading">accum :{{ purchasing!.accum}}</p>
            <p class="listing-heading">targetAccum :{{ purchasing!.targetAccum}}</p>
            </section>
        </mat-card-content>
    </mat-card>
</div>

