

<section class="listing " *ngFor ="let purchasing of purchasingList">
    <img class="listing-photo" src="/assets/bearing.jpg">
    <p class="listing-heading">place :{{ purchasing!.place}}</p>
    <p class="listing-heading">division :{{ purchasing!.division}}</p>
    <p class="listing-heading">opec :{{ purchasing!.opec}}</p>
    <p class="listing-heading">itemNo :{{ purchasing!.itemNo}}</p>
    <p class="listing-heading">itemName :{{ purchasing!.itemName}}</p>
    <p class="listing-heading">onHand :{{ purchasing!.onHand}}</p>
    <p class="listing-heading">mainWarehouse :{{ purchasing!.mainWarehouse}}</p>
    <p class="listing-heading">mainLocation :{{ purchasing!.mainLocation}}</p>
</section>

