<app-purchase-home></app-purchase-home>
<form>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <div class="form group col-20">
                    <label for="place" class="form-label">Place</label>
                    <input type="text" class="form-control" id="place" name="place"
                        [(ngModel)]="product.place" />
                </div>
                <div class="form group col-20">
                    <label for="division" class="form-label">Division</label>
                    <input type="text" class="form-control" id="division" name="division"
                        [(ngModel)]="product.division" />
                </div>
            </div>
            <div class="col">
                <div class="form group col-20">
                    <label for="opec" class="form-label">Opec</label>
                    <input type="text" class="form-control" id="opec" name="opec"
                        [(ngModel)]="product.opec" />
                </div>
                <div class="form group col-20">
                    <label for="itemNo" class="form-label">Item No</label>
                    <input type="text" class="form-control" id="itemNo" name="itemNo"
                        [(ngModel)]="product.itemNo" />
                </div>
            </div>
        </div>
        <button class="btn btn-primary mb-2" type="button" (click)="Search()">Search</button>
    </div>
</form>
<div fxLayout='row wap' fxLayoutGap="50px" layout-align="center center">
    <mat-card class="example-card" *ngFor ="let purchasing of purchasingList">
        <mat-card-header>
            <h4>Purchase Materials</h4>
        </mat-card-header>
        <img mat-card-image src="/assets/bearing.jpg">
        <mat-card-content>
            <section class="listing ">
            <p class="listing-heading">place :{{ purchasing!.place}}</p>
            <p class="listing-heading">division :{{ purchasing!.division}}</p>
            <p class="listing-heading">opec :{{ purchasing!.opec}}</p>
            <p class="listing-heading">itemNo :{{ purchasing!.itemNo}}</p>
            <p class="listing-heading">itemName :{{ purchasing!.itemName}}</p>
            <p class="listing-heading">onHand :{{ purchasing!.onHand}}</p>
            <p class="listing-heading">mainWarehouse :{{ purchasing!.mainWarehouse}}</p>
            <p class="listing-heading">mainLocation :{{ purchasing!.mainLocation}}</p>
            </section>
        </mat-card-content>
    </mat-card>
</div>

