<app-purchase-home></app-purchase-home>
<form>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <div class="form group col-20">
                    <label for="companyCode" class="form-label">Company Code</label>
                    <input type="text" class="form-control" id="companyCode" name="companyCode"
                        [(ngModel)]="product.companyCode" />
                </div>
                <div class="form group col-20">
                    <label for="date" class="form-label">Date</label>
                    <input type="text" class="form-control" id="date" name="date"
                        [(ngModel)]="product.date" />
                </div>
            </div>
            <div class="col">
                <div class="form group col-20">
                    <label for="ToDate" class="form-label">To Date</label>
                    <input type="text" class="form-control" id="ToDate" name="ToDate"
                        [(ngModel)]="product.ToDate" />
                </div>
                <div class="form group col-20">
                    <label for="Processes" class="form-label">Processes</label>
                    <input type="text" class="form-control" id="Processes" name="Processes"
                        [(ngModel)]="product.Processes" />
                </div>
            </div>
            <div class="col">
                <div class="form group col-20">
                    <label for="PartTypes" class="form-label">Part Types</label>
                    <input type="text" class="form-control" id="PartTypes" name="PartTypes"
                        [(ngModel)]="product.PartTypes" />
                </div>
                <div class="form group col-20">
                    <label for="GroupParts" class="form-label">Group Parts</label>
                    <input type="text" class="form-control" id="GroupParts" name="GroupParts"
                        [(ngModel)]="product.GroupParts" />
                </div>
            </div>
            <div class="col">
                <div class="form group col-20">
                    <label for="Machines" class="form-label">Machines</label>
                    <input type="text" class="form-control" id="Machines" name="Machines"
                        [(ngModel)]="product.Machines" />
                </div>
                <div class="form group col-20">
                    <label for="by" class="form-label">By</label>
                    <input type="text" class="form-control" id="by" name="by"
                        [(ngModel)]="product.by" />
                </div>
            </div>
        </div>
        <button class="btn btn-primary mb-2" type="button" (click)="Search()">Search</button>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Purchase Materials Table</h2>
            <table class="table table-bordered table-dark table-md">
                <thead>
                    <tr>
                        <th>Process Code</th>
                        <th>Process</th>
                        <th>Part Type</th>
                        <th>Group Part</th>
                        <th>Shift</th>
                        <th>Machine</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Target</th>
                        <th>Accum</th>
                        <th>Target Accum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let purchasing of purchasingList">
                        <td style="text-align:center">{{purchasing!.processCode}}</td>
                        <td style="text-align:center">{{purchasing!.process}}</td>
                        <td style="text-align:center">{{purchasing!.partType}}</td>
                        <td style="text-align:center">{{purchasing!.groupPart}}</td>
                        <td style="text-align:center">{{purchasing!.shift}}</td>
                        <td style="text-align:center">{{purchasing!.machine}}</td>
                        <td style="text-align:center">{{purchasing!.date}}</td>
                        <td style="text-align:center">{{purchasing!.quantity}}</td>
                        <td style="text-align:center">{{purchasing!.target}}</td>
                        <td style="text-align:center">{{purchasing!.accum}}</td>
                        <td style="text-align:center">{{purchasing!.targetAccum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

